/* Universal Codes */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 1px 1px 5px rgba(70, 70, 70, 0.8);
}

html {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: var(--dark);
}

body {
    background-color: var(--primary);
    margin: 10px 20px;
    line-height: 1.5;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.navigation {
    width: 100%;
    margin: 0.7em 0;
}

.navigation ul {
    display: flex;
    flex-direction: column;
}

.navigation li {
    margin: 5px 0;
}

.navigation a {
    display: block;
    background-color: var(--light);
    box-shadow: var(--shadow);
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: black;
}

.navigation a:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* Header for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {

}