/* Universal Codes */
:root {
    --dark: #333;
    --light: #fff;
    --shadow: 1px 1px 5px rgba(70, 70, 70, 0.8);
}

html {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: var(--dark);
}

body {
    background-color: #ddd;
    margin: 10px 20px;
    line-height: 1.5;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.navigation {
    width: 100%;
    padding: 0.7em 0;
}

.navigation ul {
    display: flex;
    flex-direction: column;
}

.navigation li {
    background-color: var(--light);
    box-shadow: var(--shadow);
    margin: 5px 0;
}

.navigation a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: black;
}

.navigation a:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* Header for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation {
        width: auto;
        padding: 0;
    }

    .navigation ul {
        flex-direction: row;
    }

    .navigation li {
        width: 6em;
        margin: 0 9px;
    }
}

/* Header for Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .navigation {
        width: auto;
        padding: 0;
    }

    .navigation ul {
        flex-direction: row;
    }

    .navigation li {
        width: 7em;
        margin: 0 10px;
    }

    .navigation a {
        font-size: 1.2rem;
    }
}

/* Header for Tablet Landscape Screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .navigation {
        width: auto;
        padding: 0;
    }

    .navigation ul {
        flex-direction: row;
    }

    .navigation li {
        width: 9em;
        margin: 0 10px;
    }

    .navigation a {
        font-size: 1.2rem;
    }
}

/* Header for Desktop Screens */
@media only screen and (min-width: 1200px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .navigation {
        width: auto;
        padding: 0;
    }

    .navigation ul {
        flex-direction: row;
    }

    .navigation li {
        width: 9em;
        margin: 0 50px;
    }

    .navigation a {
        font-size: 1.2rem;
    }
}

/* Top Section */
.top-section {
    background-image: url('../images/james-harrison-vpOeXr5wmR4-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    box-shadow: var(--shadow);
    width: 100%;
    min-height: 300px;
}

.top-section h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--light);
    padding: 1rem;
}

.top-section p {
    color: var(--light);
    padding: 0 1.5rem 1rem 1.5rem;
}

/* Top Section for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {
    .top-section {
        background-position: center;
        min-height: 250px;
        margin-top: 1rem;
    }
}

/* Top Section for Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .top-section {
        background-position: center;
        min-height: 500px;
        margin-top: 1rem;
    }
    
    .top-section h2 {
        font-size: 3rem;
        padding: 1.5rem 2rem 1rem 2rem;
    }
    
    .top-section p {
        font-size: 1.7rem;
        padding: 2rem 3rem;
    }
}

/* Top Section for Tablet Landscape Screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .top-section {
        background-position: center;
        min-height: 500px;
        margin-top: 1rem;
    }
    
    .top-section h2 {
        font-size: 3.5rem;
        padding: 1.5rem 2rem 1rem 2rem;
    }
    
    .top-section p {
        font-size: 2rem;
        padding: 2rem 3rem;
    }
}

/* Top Section for Desktop Screens */
@media only screen and (min-width: 1200px) {
    .top-section {
        background-position: center;
        min-height: 600px;
        margin-top: 1rem;
    }
    
    .top-section h2 {
        font-size: 4rem;
        padding: 1.5rem 2rem 1rem 2rem;
    }
    
    .top-section p {
        font-size: 2.5rem;
        padding: 5rem 4rem;
    }
}

/* Middle Section Cards */
.middle-section {
    margin-top: 1rem;
}

.middle-section h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.project-title {
    box-shadow: var(--shadow);
    min-height: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project1 {
    background-image: url('../images/Tea-Cozy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#project2 {
    background-image: url('../images/Fashion-Planet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#project3 {
    background-image: url('../images/Goodie-Club.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.title {
    width: 100%;
    text-align: center;
    background: var(--light);
    opacity: 0.8;
    line-height: 2rem;
    box-shadow: none;
}

.title h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.title a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: blueviolet;
}

.title a:hover {
    color: black;
    text-decoration: underline;
}

/* Middle Section Desc */
.project-desc {
    background-color: var(--light);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
}

.project-desc p {
    padding: 1rem;
    font-size: 1.2rem;
}

.project-desc a {
    text-align: center;
    font-weight: 500;
    color: blueviolet;
}

.project-desc a:hover {
    color: black;
    text-decoration: none;
}

.project-desc .tech {
    padding: 1rem;
    text-align: center;
}

.tech i {
    padding: 0.5rem;
}

/* Middle Section for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {
    .cards {
        justify-items: center;
    }

    .project-title {
        min-height: 300px;
        width: 450px;
    }

    .project-desc {
        width: 450px;
    }
}

/* Middle Section for Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .middle-section h2 {
        font-size: 2.5rem;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'project1 project2 project3'
            'details1 details2 details3';
    }

    .project-title {
        min-height: 375px;
    }

    #project1 {
        grid-area: project1;
        background-image: url('../images/Tea-Cozy-Tablet.jpg');
    }
    
    #project2 {
        grid-area: project2;
        background-image: url('../images/Fashion-Planet-Tablet.jpg');
    }
    
    #project3 {
        grid-area: project3;
        background-image: url('../images/Goodie-Club-Tablet.jpg');
    }

    #details1 {
        grid-area: details1;
    }

    #details2 {
        grid-area: details2;
    }

    #details3 {
        grid-area: details3;
    }
}

/* Middle Section for Tablet Landscape Screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .middle-section h2 {
        font-size: 3rem;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'project1 project2 project3'
            'details1 details2 details3';
    }

    .project-title {
        min-height: 300px;
        width: 300px;
    }

    #project1 {
        grid-area: project1;
    }
    
    #project2 {
        grid-area: project2;
    }
    
    #project3 {
        grid-area: project3;
    }

    .title h3 {
        font-size: 1.75rem;
    }
    
    .title a {
        font-size: 1.25rem;
    }

    .project-desc {
        width: 300px;
    }

    #details1 {
        grid-area: details1;
    }

    #details2 {
        grid-area: details2;
    }

    #details3 {
        grid-area: details3;
    }

    .project-desc p {
        font-size: 1.3rem;
    }
    
    .project-desc a {
        font-size: 1.1rem;
    }

    .project-desc .tech {
        font-size: 1.25rem;
    }
}